.contenedor{
    display: flex;
   justify-content: left;
}

.imag2{
   position: relative;
   right: 100px;
    margin-left: 20px;
    width: 21%;
}

.imag{
  position: relative;
  left: 980px;
    margin-right: 10px;
    width: 196px;
}

body{
    background-image: url(Css/Imagenes/fondo\ pagina.jpeg);
    background-position: center center;
   
    background-attachment:fixed ;
}

.inicio{
    color: #000;
}

.producto{
    color: #000;
}


.Inicio{
    color: #000;
}

.Empleados{
    color: #000;
}