.contenedor{
    display: flex;
   justify-content: left;
}

.imag2{
   position: relative;
   right: 100px;
    margin-left: 20px;
    width: 21%;
}

.imag{
  position: relative;
  left: 980px;
    margin-right: 10px;
    width: 196px;
}

body{
    background-image: url(Css/Imagenes/fondoazul.png);
    background-position: center center;
    background-attachment:fixed ;
}

.inicio{
    color: aliceblue;
    font-size: 20px;
}

.producto{
    color: aliceblue;
    font-size: 20px;
}


.Inicio{
    color: aliceblue;
    font-size: 20px;
}

.Empleados{
    color:aliceblue;
    font-size: 20px;
}

h1{
    color:aliceblue;
}

